body {
	margin: 0 auto;
	font-size: 13px;
	font-family: "Arial", "Tahoma", sans-serif;
	background: white;
}

a {
	font-weight: bold;
	color: #CE2508;
	text-decoration: none;
}

#poll{
	padding: 2px 0px 2px 0px;
    border: none;
}

.pollheader{
	padding: 2px 2px 10px 5px;
    border-bottom: 1px solid #444;
    font-size: 0.9em;
    color: black;
    font-weight: bold;
    text-align: center;
}

.pollradio{

}

.pollform{
	padding-top: 10px;
    display: inline-flex;
}

.form_style{
	padding: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
}

.button_style{
	padding: 4px 12px;
	color: #333;
	background: #FFF;
	border: 1px solid #c8c8bd;
	font-size:12px;
	margin: 0px 0px;
}

.button_style_remove{
	padding: 4px 12px;
	color: #333;
	background: #FFF;
	border: 1px solid #c8c8bd;
	font-size:12px;
	margin: 0px 0px;
	float:left;
}

.button_style_remove:hover{
	background-color:#ff6600;
	color:black;
	text-decoration:none;
	cursor: pointer;
	border:1px solid #444;
}

.button_style:hover {
	background-color:#ff6600;
	color:black;
	text-decoration:none;
	cursor: pointer;
	border:1px solid #444;
}

.button_style:active{
	background-color:#FFF;
	color:#000;
}

.button_style:disabled {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAKrVq36zwjjgzhhYWGMYAEYB8RmROaABADeOQ8CXl/xfgAAAABJRU5ErkJggg==) repeat;
	color:red;
}

.userRemark{
	border: 1px solid #444;
    background-color: #ff6600;
    margin: 10px 10px 10px 0px;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 15px;
	max-width: 400px;
	float:left;
}

.remarkdate{
	font-size:11px;
}

.remarkcomment{
	padding-right: 20px;

}

.pure-control-group{
	margin-bottom: .5em;
}

.pure-control-group .squaredOne {
    right: -85;
    top: -30;
}

.pure-control-group label {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 5em;
    margin: 0 1em 0 0;
}

.pure-control-group textarea  {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 0px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* SQUARED ONE */
.squaredOne {
	width:28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.squaredOne label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	background: ##ff6600;

	background: -webkit-linear-gradient(top, #ff6600 0%, #ff6600 100%);
	background: -moz-linear-gradient(top, #ff6600 0%, #ff6600 100%);
	background: -o-linear-gradient(top, #ff6600 0%, #ff6600 100%);
	background: -ms-linear-gradient(top, #ff6600 0%, #ff6600 100%);
	background: linear-gradient(top, #ff6600 0%, #ff6600 100%);

	top: 2px;
	left: 2px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.squaredOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

/* SQUARED TWO */
.squaredTwo {
	width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.squaredTwo label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredTwo label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredTwo label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredTwo input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}



/* SLIDE THREE */
.slideThree {
	width: 80px;
	height: 26px;
	background: #353535;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
	content: 'NO';
	font: 12px/26px Arial, sans-serif;
	color: #000;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
	content: 'YESS';
	font: 12px/26px Arial, sans-serif;
	color: #00bf00;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.slideThree label {
	display: block;
	width: 34px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
	left: 43px;
}

a:hover{
	color: #FF6600;
	text-decoration: none;
}

h1, h2, h3, h4 {
	margin: .3em 0 .5em;
}

.rubrikBooking form{
    float: right;
}

.rubrikBooking fieldset{
	line-height: 1em;
}

form fieldset {
	border: 0;
	padding: 4px;
	line-height: 2em;
	margin: 0;
}
.translateBox{
	border: 1px solid gray;
	padding: 10px;
	line-height: 2em;
	margin: 5px;
}
form fieldset legend {
	font-weight: bold;
}

.addUserForm fieldset legend{

}

#checkoutFieldset legend{
	text-align:center;
	margin-right:20px;
	padding:2px 10px 2px 10px;
	margin-top:-13px;
}
input#checkout2{
	margin-top:-3px;
	margin-left:25px;
	background-color:#f8f8f8;
	border: 1px solid #444;
	color: black;
	cursor:pointer;
	height:24px;
	width: 94px;
}

input#checkout2:hover{
		font-weight:bold;
 -webkit-box-shadow:1px 2px 2px #444;
    -moz-box-shadow: 1px 2px 2px #444;
    box-shadow: 1px 2px 2px #444;
}

.userinfo a{
	text-decoration:none;
	color:black;
}

.userinfo a:hover{
	text-decoration:none;
	color:red;
}

.userListItem{
	margin:5px;
	padding:5px;
	background-color:#ff6600;
	border: 1px solid #444;
}

.userListItem:hover{
	border: 2px solid #444;
}

.userListItem img{
	width: 70px;
    height: 70px;
}

.userListItem i{
	float:right;
	padding:10px;
}

.userListItem b{
    font-size: 1.5em;
    margin-top: 25px;
    position: absolute;
    margin-left: 30px;
}

.bookingsclass{
	margin:50px;
}

h4#livesearchresults-text {
	display: none;
	font-size: 11px;
    font-style: italic;
}

.result{
    margin-top: 0;
    background-color: white;
    -webkit-box-shadow: rgba(0, 0, 0, .15) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,.15) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, .15) 0 1px 3px;
	font-size: 14px;
    font-family: sans-serif;
}
.result h3{
	font-weight:normal;
	font-size: 15px;
}
ul#livesearchresults {
	display: none;
	margin-top: 0px;
    margin-bottom: 0;
    padding: 0;
	font-size: 15px;
    font-family: sans-serif;
}

ul#livesearchresults .highlight{
	color:red;
	font-weight:bold;
}

ul#livesearchresults li {
	padding: 2px 10px 2px 10px;
	cursor: pointer;
	list-style:none;
	border: 1px solid #cdcdcd;
	transition: background-color .3s ease-in-out;
	-moz-transition: background-color .3s ease-in-out;
	-webkit-transition: background-color .3s ease-in-out;
}
ul#livesearchresults li:hover {
	background-color: #F7F7F7;
	font-size: 15px;
    font-family: sans-serif;
}
ul#livesearchresults li:first-child {
	border-top: none;
}
ul#livesearchresults li h3, ul#livesearchresults li h4 {
	transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-webkit-transition: color .3s ease-in-out;
	color: #616161;
	line-height: 1.2em;
}
ul#livesearchresults li:hover h3, ul#livesearchresults li:hover h4  {
	color: #3b3b3b;
	font-size: 15px;
    font-family: sans-serif;
}

.live_search{
	z-index: 900;
    position: relative;
    background-color: #ff6600;
    font-size: 15px;
    padding: 15px;
    top: 66px;
    border: 1px solid #444;
	font-family: sans-serif;
}

.livesearchquery{
	padding: 6px 10px 6px 10px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    width: 100%;
	font-weight:normal;
	font-family: sans-serif;
	font-size:18px;
}

.livesearchbutton{
    position: relative;
    top: -31px;
    right: 15;
    max-height: 26px;
    float: right;
    cursor: default;
}

.live_search button:hover{
	background-color:#ff6600;
	color:black;
	text-decoration:none;
	cursor: default;
	border:1px solid #444;
}

.livesearch_jump {
    border: 1px solid #444;
    background-color:orange;
    -webkit-border-radius: 0px;
    height: 18px;
    width: 18px;
    position: absolute;
    left:20px;
    top:214px;
    -webkit-animation: pulsate 2s ease-in-out;
    -webkit-animation-iteration-count: finite;
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    20% {opacity: 1.0;}
    100% {-webkit-transform: scale(5.2, 5.2); opacity: 0.0;}
}

a.back-to-top {
	display: none;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 40%;
	background: #ff6600 url("../images/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

#CardBox{
	z-index: 1000;
    position: relative;
    background-color: #ff6600;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    top: 66px;
    border: 1px solid #444;
}

#CardBox ul{
	list-style: none;
}

.clear {
	clear: both;
}

#site-top{
	margin: 0;
}

.lang-top{
	margin-top:35px;
	right:0;
	margin-right:30px;
	top:-2;
	position:absolute;
	z-index:1000;
}



#site-top h1 {
	color: #000;
	font-weight: normal;
	margin: 0px;
}

#cart {
	background: #FF6600;
	position: fixed;
	bottom: 0;
	right: 40px;
	height: 60px;
	float: right;
	width: 150px;
	margin-bottom:30px;
	padding: 5px;
	border: 1px solid #444;
}

#cart fieldset {
	border: 0px none;
}

.main {
	margin-top:90px;
	margin-right: 20px;
	margin-bottom:80px;
	padding: 10px 20px;
	background: #fff;
}

.notice_front{
	position:relative;
	background-color:#ff6600;
	font-size:16px;
	padding:10px;
	text-align:center;
	top:66px;
	border: 1px solid #444;
}

.notice_front a{
	text-weight:100;
	color:white;
}

.notice_front a:hover{
	color: #FF004F;
}

#logo a img{
	margin-top:10px;
	width:80px;
	height:61px;
	top:0;
	position:absolute;
	z-index:1000;
	margin-left:30px;
	left:0;
}

.menu {
	position: absolute;
	top: 0;
	right: 0;
	min-width:100%;
	background-color:white;
	background-image:none;

	border-bottom:1px solid #444
	-webkit-box-shadow:0px 1px 1px #444;
	-moz-box-shadow:0px 1px 1px #444;
	box-shadow:0px 1px 1px #444;
	height:80px;
	color:#444;
}

.menu-navi{
	color:red;
	margin-left:150px;
	margin-top:35px;
}

.menu a {
	width:auto;
	color: #444;
	margin-left:90px;
	font-size:16px;
	margin-top:10px;
	margin: 2px 10px;
	text-decoration: none;
		text-transform: uppercase;
	font-weight:lighter;

}

.menu a:hover {
	border-bottom:2px solid #FF6600;
	color:#FF6600;
}

.message {
	margin: 90px 10px -70px 10px;
	padding: 10px;
	background-color: #fff0d0;
	border: 2px solid #ffa060;
}

/* For booking items */
.bookingFormItem {
	border: 1px solid #d0d0d0;
	padding: 5px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 2px;

	width: 280px;
	display: block;
	float: left;
}

.categoryItemHolder{
	display: none;
}

.bookingFormItem:hover {
    box-shadow: 1px 1px 1px 0px #888888;
}

.rubrikBooking{
    background-color: #ff6600;
    font-size: 1.5em;
    padding: 12px;
    border: 1px solid #444;

	display: inline-block;
	width: 100%;
}

.categoryContainer{
	cursor: pointer;
}

.categoryContractImg{
	height: 15px;
	margin-right: 7px;

	display: none;
}

.categoryExpandImg{
	height: 15px;
	margin-right: 7px;
}

/* toggling of headings: */
.bookingFormItem .itemHeading:before {
	content: url("../images/expand.gif");
	margin-right: 5px;
}
.bookingFormItem .itemHeading.expanded:before {
	content: url("../images/contract.gif");
}

.bookingFormItem .itemContent {
	display: none;
}

.expandedItem{
	height: auto;
}

.itemPic{
	height: 150px;
	max-width: 270px;
}

.bookingFormItem p{
	text-align: center;
}

.itemContent{
	padding-left: 16px;
    padding-bottom: 10px;
    padding-top: 5px;
}

/* general toggling */
.toggleButton {
	cursor: pointer;
}
.toggleButton:before {
	content: url("../images/expand.gif");
	margin-right: 5px;
}
.toggleButton.expanded:before {
	content: url("../images/contract.gif");
}
.toggleContent {
	margin-left: 20px;
  display: none;
}
/* end toggling */

.itemBookingPeriodSelector {
	padding-top: 40px;
}

.itemBookingDate {
	padding: 5px;
	float: left;
	width: 24px;
	height: 12px;
	margin: -20px 8px -20px -10px;
	border: 0px solid gray;
	background: #fff;
	color: black;
	font-weight: bold;
}

.itemBookingPeriod {
	padding: 5px;
	float: left;
	width: 64px;
	margin: 5px;
	border: 1px solid gray;
	background: #d0d0d0;
	color: gray;
}

.itemBookingPeriod.available {
	background: #d0ffd0;
	color: black;
}

.itemBookingPeriod.available.bookable {
	background: #80ff80;
	cursor: pointer;
}

.itemBookingPeriod.available.bookable:hover {
	border: 2px solid #0080ff;
	margin: 4px;
}

.itemBookingPeriod.available.booked {
	border: 3px solid #0080ff;
	background: #80d0ff;
	margin: 3px;
	color: #0080ff;
}

.itemBookingPeriod.available.booked.unbookable {
	background: #80d0ff;
	cursor: pointer;
	color: black;
}

.itemBookingPeriod.available.booked.unbookable:hover {
	background: #90e0ff;
}

/* the calendar version */
.calendarBooking .prevMonthButton,
.calendarBooking .nextMonthButton {
	cursor: pointer;
	font-weight: bold;
	margin-left: 0px; /* 21px */
}

table.calendarBookingTable {
	margin-top: 10px;
	margin-bottom: 10px;
	border-collapse:collapse;
	border:1px solid #444;
}

table.calendarBookingTable thead {
	background: #FF6600;
	color: black;
	font-size:1.1em;
	border:1px solid #444;
}

.calendarBooking  td {
	width: 35px;
	height: 30px;
	border: 1px solid gray;
	padding: 0px;
	margin: 0px;
	text-align: center;
	background-repeat: no-repeat;
	font-weight: bold;
}

.calendarBooking  td.current-day {
	color: red;
}

.calendarBooking  td.other-month {
	background-color: #d0d0d0;
	color: gray;
	font-weight: normal;
}

.calendarBooking  td.period.bookable {
	cursor: pointer;
}
.calendarBooking  td.unbookable {
	cursor: pointer;
}


.calendarSessions .prevMonthButton,
.calendarSessions .nextMonthButton {
	cursor: pointer;
	font-weight: bold;
}

table.calendarSessionsTable {
	border:1px solid #444;
	margin: 10px 10px;
	border-collapse: collapse;
}

table.calendarSessionsTable thead {
	background: #FF6600;
	color: black;
	border:1px solid #444;
}

.calendarSessions  td {
	width: 35px;
	height: 30px;
	border: 1px solid gray;
	padding: 0px;
	margin: 0px;
	text-align: center;
	background-repeat: no-repeat;
	font-weight: bold;
	cursor: pointer;
}
.calendarSessions td.lending_session {
	background-color: #a0ffa0;
}
.calendarSessions .calendarSessionsTable td.lending_session.booked {
	background-color: #80a0d0;
}.calendarSessions .calendarSessionsTable td.lending_session.booked:hover {
	background-color: #70b0ff;
}
.calendarSessions .calendarSessionsTable td:hover {
	background-color: #60a060;
}
.calendarSessions .calendarSessionsTable td.lending_session:hover {
	background-color: #80d080;
}


/* not available (full) */
.calendarBooking  td.periodStart {
	background-image: url("../images/calendar/periodStart.png");
}
.calendarBooking  td.periodMiddle {
	background-image: url("../images/calendar/periodMiddle.png");
}
.calendarBooking  td.periodEnd {
	background-image: url("../images/calendar/periodEnd.png");
}
.calendarBooking  td.periodEnd.prevAvailable {
	background-image: url("../images/calendar/periodEnd_available.png");
}
.calendarBooking  td.periodEnd.prevAvailable.prevBookable {
	background-image: url("../images/calendar/periodEnd_bookable.png");
}
.calendarBooking  td.periodEnd.prevAvailable.prevBooked {
	background-image: url("../images/calendar/periodEnd_booked.png");
}
.calendarBooking  td.periodStart.periodEnd {
	background-image: url("../images/calendar/periodStartEnd.png");
}
.calendarBooking  td.periodStart.periodEnd.prevAvailable {
	background-image: url("../images/calendar/periodStartEnd_prevAvailable.png");
}
.calendarBooking  td.periodStart.periodEnd.prevAvailable.prevBookable {
	background-image: url("../images/calendar/periodStartEnd_prevBookable.png");
}
.calendarBooking  td.periodStart.periodEnd.prevAvailable.prevBooked {
	background-image: url("../images/calendar/periodStartEnd_prevBooked.png");
}

/* available but not bookable now */
.calendarBooking  td.periodStart.available {
	background-image: url("../images/calendar/periodStart_available.png");
}
.calendarBooking  td.periodMiddle.available {
	background-image: url("../images/calendar/periodMiddle_available.png");
}
.calendarBooking  td.periodEnd.available {
	background-image: url("../images/calendar/periodEnd_available.png");
}
.calendarBooking  td.periodStart.periodEnd.available {
	background-image: url("../images/calendar/periodStartEnd_available.png");
}
.calendarBooking  td.periodStart.periodEnd.available.prevAvailable {
	background-image: url("../images/calendar/periodStartEnd_available_prevAvailable.png");
}
.calendarBooking  td.periodStart.periodEnd.available.prevAvailable.prevBookable {
	background-image: url("../images/calendar/periodStartEnd_available_prevBookable.png");
}
.calendarBooking  td.periodStart.periodEnd.available.prevAvailable.prevBookable.prevBooked {
	background-image: url("../images/calendar/periodStartEnd_available_prevBooked.png");
}

/* available and bookable */
.calendarBooking  td.periodStart.available.bookable {
	background-image: url("../images/calendar/periodStart_bookable.png");
}
.calendarBooking  td.periodMiddle.available.bookable {
	background-image: url("../images/calendar/periodMiddle_bookable.png");
}
.calendarBooking  td.periodEnd.available.bookable {
	background-image: url("../images/calendar/periodEnd_bookable.png");
}
.calendarBooking  td.periodStart.periodEnd.available.bookable {
	background-image: url("../images/calendar/periodStartEnd_bookable.png");
}
.calendarBooking  td.periodStart.periodEnd.available.bookable.prevAvailable {
	background-image: url("../images/calendar/periodStartEnd_bookable_prevAvailable.png");
}
.calendarBooking  td.periodStart.periodEnd.available.bookable.prevAvailable.prevBookable {
	background-image: url("../images/calendar/periodStartEnd_bookable_prevBookable.png");
}
.calendarBooking  td.periodStart.periodEnd.available.bookable.prevAvailable.prevBookable.prevBooked {
	background-image: url("../images/calendar/periodStartEnd_bookable_prevBooked.png");
}


/* booked */
.calendarBooking  td.periodStart.booked {
	background-image: url("../images/calendar/periodStart_booked.png");
}
.calendarBooking  td.periodMiddle.booked {
	background-image: url("../images/calendar/periodMiddle_booked.png");
}
.calendarBooking  td.periodEnd.booked {
	background-image: url("../images/calendar/periodEnd_booked.png");
}
.calendarBooking  td.periodStart.periodEnd.booked {
	background-image: url("../images/calendar/periodStartEnd_booked.png");
}
.calendarBooking  td.periodStart.periodEnd.booked.prevAvailable {
	background-image: url("../images/calendar/periodStartEnd_booked_prevAvailable.png");
}
.calendarBooking  td.periodStart.periodEnd.booked.prevAvailable.prevBookable {
	background-image: url("../images/calendar/periodStartEnd_booked_prevBookable.png");
}
.calendarBooking  td.periodStart.periodEnd.available.bookable.prevBooked {
	background-image: url("../images/calendar/periodStartEnd_prevBooked.png");
}
.calendarBooking  td.periodStart.periodEnd.prevAvailable.prevBookable.prevBooked.booked {
	background-image: url("../images/calendar/periodStartEnd_prevBookedBooked.png");
}

.square1 {
	border: 2px solid #444;/*#ffa0a0;*/
	background-color:rgba(255, 102, 0,0.7);/*#ffd0d0;*/
	margin: 10px 0px;
	padding: 5px;
}
.square2 {
	border: 2px solid #444;/*#a0a0ff;*/
	background-color:#ff6600;
	margin: 10px 0px 10px 0px;
	padding: 5px;
}
.square3 {
	border: 2px solid #444; /*#a0ffa0;*/
	background-color:#ff6600;
	margin: 20px 0px 20px 0px;
	padding: 8px;
}
.square4 {
	border: 1px solid #aaa;
	background: #fff;
	margin: 10px 0px 10px 40px;
	padding: 5px;
}

.lendingSession .summary {
	border: 1px solid gray;
	padding: 5px;
	margin: 0px 0px 10px;
}

.colorInfo{
	text-align:center:
}

.colorInfo ul {
	margin-left:-40px;
	margin-top: 15px;
    margin-bottom: 15px;
    list-style: none;
}

.color-box{
	filter: saturate(500%);
	-webkit-filter: saturate(500%);
	-moz-filter: saturate(500%);
	-o-filter: saturate(500%);
	-ms-filter: saturate(500%);
}

.input-color {
    position: relative;
	margin-right:15px;
}

.textbox{
	padding-left:25px;
	padding-top:4px;
	border:none;
}

.input-color .color-box {
	border: 1px solid grey;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 5px;
	opacity:2;
}

.lendingSession .pick-up {
	border: 3px solid #a0ffa0;
	border: 1px solid #aaa;
	background: #d0ffd0;
	background: #fff;
	margin: 10px 0px 10px 40px;
	padding: 5px;
}
.lendingSession .return {
	border: 3px solid #ffa0a0;
	border: 1px solid #aaa;
	background: #ffd0d0;
	background: #fff;
	margin: 10px 0px 10px 40px;
	padding: 5px;
}

.eula {
	padding: 10px;
	margin: 10px;
	/*border: 1px solid #444;
	background-color: #FF6600;*/
}

.uui-autocomplete {
    position: absolute;
    top: 0; /* #8656 */
    cursor: default;
}

.opening_hours{
	padding:15px;
	border-radius: 3px;
	float:right;
	max-width: 200px;
	clear:right;
	margin-top: 10px;
	background-color: #F60;
	border:2px solid #444;
}
.right_cont_info{
	float:right;
}

@media screen and (max-width: 600px){
	.menu-navi{
		/*display:none;*/
	}
}

@media screen and (max-width: 700px){
	.menu{

	}
	#cart{
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0;
		height:30px;
		width: auto;
	}
	input#checkout2{
		float:right;
		margin-top:-1px;
	}
	#checkoutFieldset legend{
		float:left;
		margin-top: -2px;
	}

}

@media screen and (max-width: 1098px){
	.right_cont_info{
		float:left;
		margin-top:40px;
	}
}

@media screen and (max-width: 1090px){
	.lang-top{
		margin-top:5px
	}
/* langtop fix for later on mobile*/
}

.booking_instruction{
	max-width:800px;
	margin-right:0px;
	display:inline-block;
	line-height: 1.4em;
}
.item_presentation{
	clear:both;
	padding-top:50px;
}
.footer{
    text-align: center;
    border-top: 1px solid #444;
    height: 38px;
    padding: 10;
    color: rgb(0, 0, 0);
    line-height: 3;
    vertical-align: middle;
}

.itemRowSeparator{
	width: 100%;
	float: left;
}

.catTranslation{
	float: left;
	width: 100%;
}
